{% extends '@admin/layout.html.twig' %}

{% block title "Create Category" %}

{% block body %}

    <h1>Create Post</h1>
    <form action="{{ path(routePrefix ~ '.create') }}" method="post">
        {% include viewPath ~ '/form.html.twig' %}
        <button type="submit" class="btn btn-primary">Save</button>
    </form>
{% endblock %}