{% extends '@admin/layout.html.twig' %}

{% block title "Edit Post" %}

{% block body %}

    <h1>Edit Post : {{ item.name }}</h1>
    <form action="{{ path('admin.blog.edit', {id: item.id}) }}" method="post">
        {% include '@blog/admin/form.html.twig' %}
        <button type="submit" class="btn btn-primary">Edit</button>
    </form>
{% endblock %}