{% extends 'layout.html.twig' %}

{% block title "Home" %}

{% block body %}
<h1>Blog</h1>
<ul>
    <li><a href="{{ path('blog.show', {'slug' : 'first-post'}) }}">First post</a></li>
</ul>
{% endblock %}
